* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif ;
}
:root{
  --color: #FF47FF;
  --wColor: #fff;
  --bgColor:rgb(26, 26, 26);
  --bgLightColor:rgba(26, 26, 26, 0.7);
  --bgColor2: black;
}
body{
  background-color: var(--bgColor2);
}

.main {
  background-color: var(--bgColor2);
  max-width: 85.375rem;
  margin: auto;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 1.375rem;
}

.logo img {
  width: 15.625rem;
}
.web-links-images {
  display: flex;
  gap: 1.25rem;
}
.links a {
  text-decoration: none;
  color: var(--wColor);
}
.links a:hover{
  color: var(--color);
  transform: scale(1.1);
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.first-layout {
  min-height: 100vh;
  padding-bottom: 3.125rem;
}

.first-poster {
  width: 80%;
  margin: 0 auto;
}
.first-poster {
  width: 100%;
  height:56.28% ;
  max-width: 80.063rem;
  position: relative;
}
.live-button {
  border-color:#72E5D7;
  border-width: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.625rem 1.25rem;
  font-size: 1.5rem;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  border-style: solid;
  background-color: var(--bgColor2);
  color: var(--color);
  position: absolute;
  bottom: 41%;
  left: 19%;
  cursor: pointer;
}

.live-button:hover {
  border-color: #FF47FF;
  color: #72E5D7;

}

.first-video {
  width: 100%;
  min-height: 80vh;
  position: relative;
}























